.App{
  display: flex;
  justify-content: center;
  padding-top: 5em;

  
}
body{
  background-color: #121212;
  color:white;
  font-family: "montserrat";
 
 
}
button{
  cursor:pointer
}
button:active{
  transform: scale(0.9);
}