#question{
    height: 35vh;
    width: 60vw;
}
#quesList{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
   padding-top:10px;
   font-weight: 500;
   
}
.ques{
    padding: 0;
   padding-bottom: 10px;
}
.radio:checked+label::before{
    border:2px solid white;
    background-color: rgb(143, 132, 132);
}
label{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

label::before{
    content:"";
    height:15px;
    width: 15px;
    border:2px solid white;
    border-radius: 30px;
    margin-right:10px;
    background-color: black;
}
