
#quiz-btns{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}
.quiz-btn{
    background-color: inherit;
    font-family: "Montserrat";
    font-weight: bold;
    border:1px solid gray;
    padding:5px 10px;
    color: white;
    border-radius: 6px;
}
.quiz-btn:hover{
    background-color: rgba(128, 128, 128, 0.671);
}